
    </div>
    <!-- /#wrapper --> 

    <!-- jQuery -->
    <script src="../../themes/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../themes/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../themes/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../../themes/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../../themes/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../../themes/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../themes/dist/js/sb-admin-2.js"></script>

</body>

</html>