            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
						{{foreach from=$menu['0'] item=i key=k}}
                        <li>
                            <a href="{{$i->name}}"><i class="fa fa-bar-chart-o fa-fw"></i>
							<span class="fa arrow"></span>{{$i->title}}</a>
						{{foreach from=$menu[$i->id] item=item key=key}}
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">								
								{{$item->title}}
									</a>
									
                                </li>
                            </ul>
							{{/foreach}}
						
                            <!-- /.nav-second-level -->
                        </li>
					{{/foreach}}               
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
		 </div>	